* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Nunito Sans, sans-serif;
    background-color: #ADD8E6;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: Mohave, sans-serif;
    text-align: center;
    font-size: 4vh;
}

a:hover {
    color: #16b2f0;
    cursor: pointer;
}

.container {
    display: flex;
}

label {
    font-size: 1.5vw;
}

li {
    padding-left: 4vw;
    margin-top: 5vh;
}

button {
    background-color: #020018;
    border: none;
    border-radius: 8px;
    padding: 2px;
}

h1 {
    margin: 8vh 0 0 10vw;
    letter-spacing: 0.2vw;
    display: flex;
    font-size: 5vw;
}


/*      ESTILIZANDO O DISPLAY GRID      */

#destina {
    height: 6vh;
    width: 50vw;
    margin: 7vh 7vw;
    border-radius: 5px;
    font-size: 20px;
    color: #020018;
    background-color: #ADD8E6;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "menu cabecalho" "menu main" "menu main";
}


/*      ESTILIZANDO O MENU LATERAL      */

.menu {
    background-color: #020018;
    grid-area: menu;
    color: #ADD8E6;
    height: 100vh;
    width: 17vw;
    position: fixed;
    border-radius: 0 12px 12px 0;
    font-size: 1.5vw;
}

#lista {
    padding-top: 5vh;
}

#opcoes {
    font-size: 2vw;
    width: 10vw;
    height: 7vh;
}

.lista:hover {
    color: #16b2f0;
}


/*      ESTILIZANDO O CABEÇALHO     */

#project {
    height: 6vh;
    width: 60vw;
    margin: 7vh 7vw;
    border-radius: 5px;
    font-size: 20px;
    color: #020018;
    background-color: #ADD8E6;
}

.cabecalho {
    background-color: #ADD8E6;
    grid-area: cabecalho;
    color: #020018;
    height: 25vh;
    width: 80%;
    display: flex;
}

#botao_ok {
    font-family: Mohave, sans-serif;
    width: 10vw;
    height: 7vh;
    border-radius: 10px;
    border: 1px solid #ADD8E6;
    color: #ffffff;
    font-family: Harmattan, sans-serif;
    font-size: 1.5vw;
    margin: 4vh 25vw;
    background-color: #020018;
    box-shadow: 0 0 1rem #020018;
    right: 600px;
}

#btn-new {
    width: 10vw;
}


/*      ESTILIZANDO O CONTEÚDO PRINCIPAL        */

.main {
    background-color: #ffffff;
    grid-area: main;
    color: #020018;
    padding: 3vh 2.5vw;
    height: 100%;
    width: 85vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
}

#logo {
    height: 22vh;
    width: 11vw;
    margin: 2vw;
    object-fit: contain;
}

#png_botao {
    height: 7vh;
    padding-top: 0.5vh;
    margin: 3px;
}

#icon_proj {
    height: 5vw;
    margin-top: 2vh;
    margin-left: 1vw;
}

#botao_mais {
    border: none;
    height: 11vh;
    width: 10vw;
    margin: 9vh 0 0 35vw;
    padding: 0;
    cursor: pointer;
    font-family: sans-serif;
}

#new_proj {
    font-family: Mohave;
    padding: 2px;
    font-size: 1.5vw;
    color: #ADD8E6;
}

.input-group {
    position: relative;
    margin-left: 9vw;
    margin-top: 3vh;
}

.input-group textarea {
    padding-top: 0.1rem;
}

.pesquisa {
    display: flex;
    margin-left: 36vw;
}

.field {
    background-color: #ADD8E6;
    border: none;
    width: 25vw;
    font-size: 1rem;
    font-family: Mohave, sans-serif;
    color: #020018;
    border: 1px solid #020018;
    height: 5vh;
    outline: none;
    margin: 2.5vh 0;
    border-radius: 3px;
    padding-left: 3px;
}

.field-label {
    left: 0;
    top: 1.3rem;
    font-size: 1rem;
    position: absolute;
    transition: all 0.3s;
    text-transform: uppercase;
    padding-left: 5px;
}

.field:valid~label,
.field:focus~label {
    top: 0;
    font-size: 0.8rem;
}

#pesq {
    height: 5vh;
    padding: 1vh;
}


/*      ESTLIZANDO A BARRA DE ROLAGEM       */

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #020018;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #16b2f0;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 2px solid;
    /* creates padding around scroll thumb */
}

#adc {
    margin: 5.2vh 10vw;
    background-color: #ffffff;
}